/* Mine */

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 60px;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
}

nav li {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.navbar {
    position: relative;
}

.navbar a:hover {
    color: green;
}

@media (max-width:1000px) {
    .nav-links {
        display: none;
    }
    
}

@media (max-width:1000px) {
    .img-logo {
        padding-right: 200px;
    }
    
}

@media (min-width:1200px) {
    .hamburger {
        display: none;
    }
    
}


.sidebar {
position: fixed;
top: 0;
display: none;
right: 0;
height: 1200px;
width: 150px;
margin: 0;
background-color: black;
flex-direction: column;
z-index: 101;
align-items: center;
justify-content: flex-start;
}

.sidebar a:hover {
    color: green;
}

.img-logo{
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.sidebarbtn {
    margin-top: 20px;
    widows: 20px;
}