/* Mine */


 .header{
    display: flex;
    flex-direction: row 90px, 1fr;
    background-color: black;
    width: auto;
    justify-content: space-between;
    height: 60px;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;

}
 @media (max-width:1000px) {
    .left-header{
        display: flex;
        flex-direction: column;
    }
} 

.img-logo{
    height: 40px;
    margin-top: 20px;
    cursor: pointer;

}

.left-header{
    margin-left: 190px;
}

.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 190px;
    padding-right: 20px;
}


.slash{
    color: white;
    margin-left: 50px;
    margin-right: -5px;
}

p{
    color: white;
    font-weight: bold;
    font-size: large;
}


p:hover {
    color: green;
}


.profile-icon{
    margin-left: 30px;
    height: 40px;
    border-radius: 18px;
    border-width: 3px;
    cursor: pointer;
    
}

.profile-pic:hover{
    border-color: green;
}


.premium{
    margin-left: 140px;
    cursor: pointer;
}


.support{
    margin-left: 30px;
    cursor: pointer;
}

.download {
    margin-left: 20px;
    cursor: pointer;
  
}

.profile-text{
    margin-right: 20px;
}

.profile{
    margin-left: 20px;
    cursor: pointer;
}
